@use '/styles/variables';

.cta {
    width: 113px;
    height: 48px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: variables.$primaryBlue;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px 16px;
    border: solid 5px transparent;

    &:hover, &:active {
        background-color: variables.$primary-white;
        border: solid 5px variables.$primaryBlue;
        padding: 8px 16px;
    

        a {
            color: variables.$primaryBlue;
        }
    }

    a {
        color: variables.$primary-white;
        text-decoration: none;
        margin: 0;
        padding: 0;
    }
}