@use '../../styles/variables';

.card {
    width: 100%;
    height: 100%;
    margin-bottom: 25px;
    border: solid 1px variables.$primaryBlue;
    background-color: variables.$primaryBlue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;

    &:nth-child(1) {
        margin-right: 12px;
    }
    &:nth-child(2) {
        margin-left: 12px;
    }

    @media screen and (max-width: 992px) {
        width: 100%;

        &:nth-child(1) {
            margin-right: 0;
        }
        &:nth-child(2) {
            margin-left: 0;
        }
    }

    .image {
        width: 100%;
        position: relative;
        padding: 10px 10px 25px;
        background-color: variables.$primary-white;
   
        > div {
            position: unset !important;
        }

        img {
            -o-object-fit: contain;
               object-fit: contain;
            width: 100% !important;
            position: relative !important;
            height: unset !important;
        }

        &:after {
            width: 100%;
            height: 20px;
            content: "";
            position: absolute;
            left: 0;
            display: block;
            background-color: variables.$primary-white;
            background-image: -o-linear-gradient(45deg, transparent 49%, variables.$primaryBlue 50%, transparent 51%);
            background-image: linear-gradient(45deg, transparent 49%, variables.$primaryBlue 50%, transparent 51%);
            background-size: 5px 5px;
            right: -1rem;
            bottom: -1rem;
            z-index: 1;
	
        }
    }

    .content {
        background-color: variables.$pinkAccent;
        width: 100%;
        height: 97%;
        padding: 25px;
        margin-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color: variables.$primaryBlue;

        h3 {
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 10px;
        }

        .links {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-flow: row;
                    flex-flow: row;
            width: 100%;
            margin: 10px 0;
            
            a {
                width: 49%;
                color: variables.$primaryBlue;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-flow: row;
                        flex-flow: row;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                color: variables.$primaryBlue;
                padding: 5px 5px 5px 0;
                margin: 5px 5px 5px 0;
                font-size: 1.065rem;

    
                    &:hover {
                        text-decoration: underline !important;
                        text-decoration-thickness: max(3px, 0.1875rem, 0.12em) !important;
                        text-underline-offset: 0.1em !important;
                    }

                    &:focus {
                        outline: 5px solid variables.$focus !important;
                        padding: 5px 5px 5px 0;
                        margin: 5px 5px 5px 0;
                    }
                    
                
                .linkText {
                    width: auto;
                }     
    
                .chevron {
                    width: auto;
                    height: 25px;
                    width: 25px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg stroke='%23334050' fill='%23334050' strokeWidth='0' viewBox='0 0 24 24' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z'%3E%3C/path%3E%3C/svg%3E");
                    background-position: center 2px;
                }
            }
        }

    }
}


