@use '/styles/variables';

.myWorkBlock {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
            margin: 0 25px;
            padding: 25px 0 0;
            
    .cardsContainer {
        margin: 0 auto 15px;
        padding: 25px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

                @media screen and (max-width: 992px) {
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                        -ms-flex-flow: column;
                            flex-flow: column;
                }
    }
    
}