@use '../../styles/variables';

.card {
    max-width: 360px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    background-color: variables.$pinkAccent;
    border: solid 1px variables.$primaryBlue;
    border-bottom: solid 20px variables.$primaryBlue;
    text-decoration: none;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    grid-column: span 4;
    position: relative;

    &:after {
        height: 0px;
        width: 0px;
        position: absolute;
        border-right: solid 25px transparent;
        border-left: solid 25px transparent;
        border-bottom: solid 25px variables.$primaryBlue;
        content: "";
        bottom: 0;
        left: calc(50% - 25px);
    }

    @media screen and (max-width: 992px) {
        grid-column: 1/span 12;
        max-width: 960px;
    }

    &:hover {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);

        .description {
            text-decoration: underline !important;
            text-decoration-thickness: max(3px, 0.1875rem, 0.12em) !important;
            text-underline-offset: 0.1em !important;
        }
    }

    .image {
        width: 100%;
        padding-bottom: 800px / 1100px * 100%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: variables.$primary-white;
        background-image: -o-linear-gradient(45deg, transparent 49%, variables.$primaryBlue 50%, transparent 51%);
        background-image: linear-gradient(45deg, transparent 49%, variables.$primaryBlue 50%, transparent 51%);
        background-size: 5px 5px;

        > div {
            position: unset !important;
        }
       
    }

    .content {
        background-color: variables.$pinkAccent;
        width: 100%;
        // height: 250px;
        // @media screen and (max-width: 1200px) {
        //     height: 300px;
        // }
        padding: 25px;
        margin-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        color: variables.$primaryBlue;

        h3 {
            margin-bottom: 10px;
        }

        time {
            margin-bottom: 10px;
            font-weight: 600;
        }

        p {
            margin-bottom: 0px;

            span {
                display: inline;
            }
        }

        .author {
            font-size: 0.9rem;

            @media screen and (max-width: 768px) {
                height: 40px;
            }
        }

        .description {
            font-style: italic;
        }

    }
}



