@use '../../styles/variables';

.card {
    max-width: 360px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    background-color: variables.$pinkAccent;
    border: solid 1px variables.$primaryBlue;
    border-bottom: solid 20px variables.$primaryBlue;
    text-decoration: none;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    grid-column: span 4;
    position: relative;

    &:after {
        height: 0px;
        width: 0px;
        position: absolute;
        border-right: solid 25px transparent;
        border-left: solid 25px transparent;
        border-bottom: solid 25px variables.$primaryBlue;
        content: "";
        bottom: 0;
        left: calc(50% - 25px);
    }

    @media screen and (max-width: 992px) {
        grid-column: 1/span 12;
        max-width: 960px;
    }

    &:hover {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);

        .description {
            text-decoration: underline !important;
            text-decoration-thickness: max(3px, 0.1875rem, 0.12em) !important;
            text-underline-offset: 0.1em !important;
        }
    }

    .content {
        background-color: variables.$pinkAccent;
        width: 100%;
        margin-bottom: 10px;
        color: variables.$primaryBlue;
        padding: 0;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 390px 100px; 

        @media screen and (max-width: 1200px) {
            grid-template-rows: 375px 100px; 
        }

        @media screen and (max-width: 992px) {
            display: flex;
            flex-flow: column;
        }

        h3 {
            padding: 0 25px 25px;
            margin: 0;
        }

        time {
            padding: 0 25px 25px;
            font-weight: 600;
        }

        .categories {
            display: none;
        }

    }
}



