@use '/styles/variables';

.logoWhite {
    width: 100%;
    height: 100%;
    
    a {
        width: 100%;
        height: 100%;
        display: block;
        font-size: 72px;
        line-height: 0.8;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -20px;
        text-decoration: none;
        text-align: left;
        max-width: 125px !important;
        max-height: 65px !important;
        padding: 0 0 10px 0;

        &:hover {
            border-bottom: solid 2px variables.$primary-white;
            color: variables.$primary-white;
        }
    }

    .header {
        color: variables.$yellowBranding;
    }

    .footer {
        color: variables.$greenAccent;
    }

}
