// DESIGN TOKENS

$yellowBranding: #ffcc00;
$primaryBlue: #334050;
$greenAccent: #3B726F;
$primary-white: #fff;
$pinkAccent: #FDF1EF;
$grey: #EFEFEF;
$focus: #f7ba02;

// Theme Font Sizes
$font-size-sm: 1rem;
$font-size-md: 1.375rem;
$font-size-lg: 2rem;

// Font Weights
$font-weight-regular: 400;
$font-weight-bold: 700;

// Theme Spacing
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 3rem;


  