@use '../styles/variables';
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  font: 16px / 1.5 'Lato', sans-serif;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;



  &:focus-within {
    scroll-behavior: smooth;
  }
}

::-moz-selection {
  background-color: #00847C !important;
  color: #fff !important;
  text-shadow: none !important;
}

::selection {
  background-color: #00847C !important;
  color: #fff !important;
  text-shadow: none !important;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: #334050;
  background-color: #fff;
}

p,
article,
section {
  line-height: 1.5;
}

main:focus {
  outline: noneâˆ;
}

img {
  max-width: 100%;
}

/* A elements that don't have a class get default styles */
a {
  
  &:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  }
  &:visited {
    color: #334050;
  }
  &:focus {
    outline: 5px solid #f7ba02 !important;
  }
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;

  &:focus {
    outline: 5px solid #00847C !important;
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    &:focus-within {
      scroll-behavior: auto;
    }
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.medium-feed-item {
  display: flex;
  flex-flow: column;

  .medium-feed-link {
    display: none !important;
  }
  
  .medium-feed-snippet {
    padding: 25px;
  }
  
  .medium-feed-image {
    width: 100%;
    padding-bottom: 800px / 1100px * 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: variables.$primary-white;
    background-image: -o-linear-gradient(45deg, transparent 49%, variables.$primaryBlue 50%, transparent 51%);
    background-image: linear-gradient(45deg, transparent 49%, variables.$primaryBlue 50%, transparent 51%);
    background-size: 5px 5px;
    position: relative;
  
    > div {
        position: unset !important;
    }
  
    a {
      position: absolute;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      &:focus {
        outline: none!important;
      }
  
      img {
        height: initial;
      }
    }
  }
}

